
html, body{
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.clearfix {
  overflow: auto;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table; 
}
a {
  text-decoration: none;
  cursor: pointer;
}
header section h1 {
  font-size: 68px;
  font-weight: 600;
  color: turquoise;
  text-align: center;
}
header section info {
  color: turquoise;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
img {
  border: none;
}
img.logo-linkedin {
  width: 75px;
  height: 30px;
  margin: 0;
}
img.logo-github {
  width: 68px;
  height: 17px;
  margin: 0;
}
.parallax {
  /* The image used */
  background-image: url("../images/it_background.jpeg");

  /* height */
  height: 70%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header, footer, main{
  position: absolute;
}

main{
  width: 100%;
  box-sizing: border-box;
  height: 100%;
 
}

#info div a {
  color: rgb(91, 190, 181);
  font-size: 16px;
}
#infologos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.seperator {
  height: 45px;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
footer:after,
footer nav ul:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

header {
  background-color: #284f75;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Stay fixed on top*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index:9;
}

header nav {
  margin: 0 auto;
  width: 100%;
  background: #274f75 url(../images/bg-menu.gif) repeat-x;
}

header section {
  min-height: 165px;
  margin: 0;
  padding: 10px 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
header nav ul li {
  padding-right: 5px;
}
header nav ul li a {
  color: black;
  display: block;
  font-size: 1em;
  font-weight: 550;
  height: 43px;
  line-height: 37px;
  padding: 0 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 turquoise;
  text-transform: capitalize;
}
header nav ul li.current,
header nav ul li:hover {
  background-color: #c80808;
  color: white;
}
header nav ul li.current a,
header nav ul li a:hover {
  color: white;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

main > article {
  width: 50vw;
  box-sizing: border-box;
  position: relative;
}
main > article:nth-of-type(odd){
  background-color: olivedrab;
  float: right;
}

main > article:nth-of-type(even){
  background-color:#EDE0D4;
  float: left;
}


footer {
  background: #274f75 url(../images/bg-footer.gif) repeat-x;
  min-height: 110px;
  box-sizing: border-box;
  padding: 40px 100px 0 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
footer section#footer-nav {
  font-size: 16px;
  flex-basis: 3;
}
footer section#footer-connect {
  padding: 0;
  flex-basis: 1;
}
footer section#footer-connect a {
  display: inline-block;
  padding-right: 10px;
}
footer section#footer-nav nav {
  float: right;
  padding: 0;
  
}
footer section#footer-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer nav ul li {
  border-left: 1px solid #6886a0;
  float: left;
  padding: 0 5px;
}
footer nav ul li.last {
  border-right: 0;
}
footer nav ul li:first-child {
  border: none;
}
footer a {
  color: whitesmoke;
  text-decoration: none;
}
footer nav ul li a {
  display: block;
}
footer a:hover {
  color: red;
}
footer section p {
  color: whitesmoke;
  margin: 0;
  padding: 20px 3px 0;
  text-align: right;
}

