html,
body {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1 {
  /*font: 68px "monospace";*/
  font-family: "Courier New", Courier, monospace;
  font-size: 68px;
  font-weight: 600;
}
img {
  border: none;
}
img.logo-linkedin {
  width: 75px;
  height: 30px;
  margin: 0;
}
img.logo-github {
  width: 68px;
  height: 17px;
  margin: 0;
}
.parallax {
  /* The image used */
  background-image: url("../images/it_background.jpeg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  height: 400px;
  color: whitesmoke;
  background-color: #284f75;
}

section #name,
section #info {
  color: turquoise;
  height: 120px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  height: 100%;
}
#info div a {
  color: rgb(91, 190, 181);
  /*color: #acbcc9;*/
  font-size: medium;
}
#infologos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.seperator {
  height: 45px;
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
/*header divsection:after,*/
header nav ul:after,
#content div:after,
#content div ul.services:after,
footer:after,
footer div.section nav ul:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

header div#navigation {
  margin: 0;
}
header nav {
  width: 100%;
  background: #274f75 url(../images/bg-menu.gif) repeat-x;
}

header {
  background-color: #284f75;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header section {
  height: 145px;
  margin: 0 auto;
  padding: 0;
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 2px auto 0;
  padding: 0;
  width: 935px;
}
header nav ul li {
  float: left;
  padding-right: 5px;
}
header nav ul li a {
  color: black;
  display: block;
  font-size: 1em;
  font-weight: 500;
  height: 43px;
  line-height: 37px;
  padding: 0 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #94c81d;
  text-transform: capitalize;
}
header nav ul li.current,
header nav ul li:hover {
  height: 43px;
  background-color: #c80808;
  color: white;
}
header nav ul li.current a {
  color: white;
}
header nav ul li a:hover {
  color: white;
}

h4 a,
div#aside p span a {
  color: #375675;
  text-decoration: underline;
}
footer {
  background: #274f75 url(../images/bg-footer.gif) repeat-x;
  min-height: 113px;
  width: 100%;
  padding: 37px 232px 0 232px;
}
/*footer div {
  font-size: 14px;
  margin: 0 auto;
  padding-top: 37px;
  position: relative;
  width: 960px;
}*/
footer div#connect {
  float: left;
  padding: 0;
  width: 250px;
}
footer div#connect a {
  display: inline-block;
  padding-right: 10px;
}
footer div.section {
  float: right;
  padding: 0;
  width: 700px;
}
footer div.section nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
footer div.section nav ul li {
  border-left: 1px solid #6886a0;
  float: left;
  padding: 0 5px;
}
footer div.section nav ul li.last {
  border-right: 0;
}
footer div.section nav ul li:first-child {
  border: none;
}
footer a {
  color: whitesmoke;
  text-decoration: none;
}
footer div.section nav ul li a {
  display: block;
  height: 12px;
  line-height: 10px;
}
footer a:hover {
  color: red;
}
footer div.section p {
  color: whitesmoke;
  margin: 0;
  padding: 20px 3px 0;
  text-align: right;
}
